.NavList{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: rgb(92, 92, 92);
    border-bottom: 3px solid rgb(172, 172, 172);
    position: sticky;
    top: 70px;
    z-index: 9999;
    
  }
  .ulCategory{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .liCategory{
    font-size: 12px;
    padding: 0 10px;
  }
  .combos{
    border-left: 1px solid rgb(181, 181, 181) ;
    border-right: 1px solid rgb(181, 181, 181) ;
  }
  @media (max-width: 550px) {
    .NavList{
      top: 140px;
    }
  }