.ItemListContainer {
  padding: 15px 50px;
}

@media (max-width: 1200px) {
  .ItemListContainer {
    padding: 15px 40px;
  }
}
@media (max-width: 800px) {
  .ItemListContainer {
    padding: 15px 20%;
  }
}
@media (max-width: 550px) {
  .ItemListContainer {
    padding: 10px 10px;
  }
}
