.containerCart {
  display: inline-block;
  position: relative;
  transition: all .3s;
}
.cartCounter {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #00a3e8;
  top: -5px;
  right: -10px;
  border: 1px solid #fff;
  text-align: center;
  color: #fff;
  font-weight: bold;
  /* display: inline; */
  display: none;
}
ion-icon{
  font-size: 20px;
  color: #fff;
  padding: 5px;
  cursor: pointer;
}
.container-icon{
  height: 30px;
  border-radius: 5px;
}
.container-icon:hover{
  background-color: rgb(58, 58, 58);
}