.header{
  position: sticky;
  top: 0;
  z-index: 9999;
}

.headerNav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(41, 41, 41);
  
}
.containerLogo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.container-LogoText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70px;
}
h1 {
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  margin: 0;
  margin-top: -4px;
  line-height: 22px;
}
.holster{
  font-size: 12px;
  margin-top: -3px;
  letter-spacing: 7px;
}
.containerLogo img {
  width: 80px;
}
img {
  transition: all 0.3s;
}
img:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.containerNav {
  padding: 10px;
  text-align: left;
  width: 400px;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 5px;
}
.li {
  margin: 0 20px;
}
a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
  font-size: 20px;
  font-weight: 400;
}
a:hover {
  color: #00a3e8;
}
a.active{
  padding-bottom: 2px;
  margin-bottom: 0;
  border-bottom: 3px solid #00a3e8;
}
a .home {
  font-weight: bold;
}
.userCart{
  display: flex;
}
.containerLogoIcon{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 550px) {
  .headerNav {
    flex-direction: column;
  }
  .container-LogoText{
    display: none;
  }
  .containerLogoIcon{
    background-color: rgb(20, 20, 20);
    width: 100%;
  }
}
