.headerNav {
  max-height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(41, 41, 41);
}
.containerLogo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
h1 {
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  margin: 0;
}
.containerLogo img {
  width: 80px;
}
img {
  transition: all 0.3s;
}
img:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.containerNav {
  padding: 10px;
  width: 100vw;
  background-color: rgb(55, 55, 55);
}
ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 5px;
}
li {
  margin: 0 20px;
}
a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
  font-size: 17px;
  font-weight: 400;
}
a:hover {
  color: #00a3e8;
}
a .home {
  font-weight: bold;
}
.userCart {
  margin-left: 25px;
}
.userCart img {
  margin: 5px;
  width: 30px;
  background-color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 35%;
}
